<html>
<style>
 body {background-size: contain;}
 div { width: 200px; height: 200px; position: absolute; top: 50%; left: 50%; margin-top: -100px;margin-left: -100px;}
</style>
<body background="/home/phinkie/Immagini/Wallpapers/my-little-pony-pinkie-pie-wallpaper-3.jpg">
<div>
<form action="http://127.0.0.1:5000/test" method="get">
  _ <input type="text" name="Text" id="Text"><br>
  <input type="submit" value="Submit">

</form>

<textarea readonly>
  {{context}}
</textarea>
</div>
</body>
</html> 